<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>there are many books </title>
<link rel="stylesheet" href="resources/css/bootstrap.min.css" >
<link rel="stylesheet" href="resources/css/font-awesome.min.css" >
</head>
<body>



<div id="app" class="container-fluid" style="padding:0 2px 0 2px;" >


	<nav>
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item">书目信息</li>
	  </ol>
	</nav>
	
	
	
	
	

	<table class="table table-sm table-hover">
	 
	 	<thead>
	 		<tr>
	 			<th>选择</th>
	 			<th>书目编号</th>
	 			<th style="width:200px;">书目名称</th>
	 			<th>书目作者</th>
	 			<th>书目图片</th>
	 			<th>操作</th>
	 		</tr>
	 	
	 	</thead>
	 	
	 	<tbody>
	 	
	 		<tr v-for="book in books">
	 			<td class="align-middle"><input type="checkbox" v-model="ids" :value="book.id" /></td>
	 			<td class="align-middle">{{book.id}}</td>
	 			<td class="align-middle">{{book.name}}</td>
	 			<td class="align-middle">{{book.author}}</td>
	 			<td class="align-middle"><img :src="'resources/images/'+book.books_images" style="width:50px;" /></td>
	 			<td class="align-middle">
	 				<a href="#"  >修改</a>
	 				<a href="#"  >删除</a>
	 			</td>
	 		</tr>
	 		
	 		
	 	</tbody>
	
	</table>
	
	
	
	
	
</div>



<!-- 在body结尾之前引入以下js文件。 注意导入顺序不可以随意改变。 -->
<script src="resources/js/jquery.min.js" ></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>
<script src="resources/layer/layer.js" ></script>
<script src="resources/js/sweetalert.min.js" ></script>
<script src="resources/js/vue.min.js"></script>
<script src="resources/js/my.js"></script>

<script type="text/javascript">
new Vue({
	
	el:'#app',
	
	data:{
		//绑定查询
		
		
		books:[],
		
		ids:[]
		
	},
	

	
	//定义Vue对象的实例方法
	methods:{
	
		
		
		loadBookList(){
			My.loadData(
					{
						url:'loadBookList'
					},
					
					(data) => { //处理服务器数据的回调函数
						this.books=data;
					}
			);
		},//加载分类信息-end
		
	},
	mounted(){
		this.loadBookList();
	}
		
	
});

  
</script>

</body>
</html>