<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
<link rel="stylesheet" href="resources/css/bootstrap.min.css" >
<link rel="stylesheet" href="resources/css/font-awesome.min.css" >
</head>
<style  type="text/css">

   html{
   	height:100%;
   	width:100%;
   }
	body{
		height:100%;
		background-image:url('resources/images/admin/165394258.jpg');
		background-size: 100% 100%;
		position:relative;
	}
	
	.my-message{
	padding:100px 0 0 500px;
	position:absolute;
	}
</style>

<body>


<div id="app" class="container-fluid " style="padding:0 2px 0 2px;" >
	<div class="my-message">
		<div class="input-group mb-3"  style="width:300px;">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">帐号</span>
		  </div>
		  <input  class="form-control" type="text"   :placeholder="user.user_account" readonly>
		</div>
		
		<div class="input-group mb-3" style="width:300px;">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">姓名</span>
		  </div>
		  <input v-model="user.user_name" class="form-control" type="text" :placeholder="user.user_name" >
		</div>
		
		<div>
		
		<label >
		<input type="radio" name="sexSelect" v-model="user.sex"  value="男" > 男
		</label>
		<label >
		<input type="radio" name="sexSelect" v-model="user.sex"  value="女"> 女
		</label>
		</div>

		<div class="input-group mb-3" style="width:300px;"> 
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">用户类型</span>
		  </div>
		  <input  class="form-control" type="text" :placeholder="user.usr_type" readonly>
		</div>
		
		<div class="input-group mb-3" style="width:300px;">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">注册时间</span>
		  </div>
		  <input  class="form-control" type="text" :placeholder="user.begdat" readonly>
		</div>
		
		<div class="input-group mb-3" style="width:300px;">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">到期时间</span>
		  </div>
		  <input  class="form-control" type="text" :placeholder="user.enddat" readonly>
		</div>
		
		<div class="input-group mb-3"  style="width:300px;">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">最大借阅量</span>
		  </div>
		  <input  class="form-control" type="text" :placeholder="user.maxcap" readonly>
	</div>
		
		<div class="input-group mb-3"  style="width:300px;">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">最长借阅时间</span>
		  </div>
		  <input  class="form-control" type="text" :placeholder="user.maxday" readonly>
	</div>
	
		<button  @click="upd_win_info"  type="button" class="btn btn-primary btn-lg">更新信息</button>
		<button  @click="load_data"  type="button" class="btn btn-secondary btn-lg">重置</button>
	</div>
</div>

<!-- 在body结尾之前引入以下js文件。 注意导入顺序不可以随意改变。 -->
<script src="resources/js/jquery.min.js" ></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>
<script src="resources/layer/layer.js" ></script>
<script src="resources/js/sweetalert.min.js" ></script>
<script type="text/javascript" src="resources/js/vue.min.js"></script>
<script type="text/javascript" src="resources/js/my.js"></script>

<script type="text/javascript">

	new Vue({
		el:'#app',
		data:{
			user:{}
		},
		methods:
		{
			upd_win_info()
			{
				console.log(this.user);
				My.ajax
				({	
							url:'infoUpd',
						   data:this.user,
							handler(result)
							{
							   if(result.success)
								{
								   swal({
										 title: " 修改成功",											 
										 icon: "success",
									});
								}
							   else
							   {
								   swal({
										 title: " 修改失败",											 
										 icon: "error",
									});
							   }
							}
				});
			},
		
			load_data()
			{
				console.log("load");
				My.loadData(
						{
							url:'getInfo'
						},
						(data) => { //处理服务器数据的回调函数
							this.user=data;
						});
			}
		},		
		mounted()//挂载完成的回调函数
		{
			this.load_data();
		}
	});
</script>




</body>
</html>